body{
  background-color: #c2e6ff
}

.maincontainer{
  padding: 20px;
  height: 400px;
  background: #ffffff;
  border-radius: 12px;
  width: 850px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chartcontainer {
    height: 400px;
    float: left;
}

.containertwo{
  float: right;
  width: 200px;
}
.ctacontainer{
  font-family: "Lucida Grande";
  color: #333333;
  font-size: 14px;
  margin-bottom: 5px;
}
.datepicker-here{
  margin: 3px;
  margin-left: 5px;
  height: 20px;
  width: 140px;
}
.select{
  margin: 3px;
  height: 20px;
  width: 140px;
}

table {
    font-size: small;
    height: 150px;
    width: 200px;
    font-family: "Lucida Grande";
    border-collapse: collapse;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
