html {
  background: url("0021.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.maincontainer{
  margin: 50px;
  padding: 20px;
  height: 400px;
  width: 900px;

}

.chartcontainer {
  float: left;
  height: 400px;
  width: 70%;

  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vl{
  float: left;
  width: 2px;
  height: 400px;

  margin-left: 15px;

  border-right: 1px solid #dddddd;
}

.rightcontainer{
  float: right;
  height: inherit;
  width: 28%;

  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ctacontainer{
  width: 90%;
	height: 60px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 5px;
  font-family: "Lucida Grande";
  color: #333333;
  font-size: 14px;
}

.datecontainer{
	height: 50%;
}

.datepickercontainer{
  	float: right;
  	margin-top: auto;
  	margin-bottom: auto;

  	width: 160px;
  	height: 25px;
}

.datepicker-here{
  margin-top: auto;
  margin-bottom: auto;

  width: 80px;

  font-family: "Lucida Grande";
  color: #333333;
  font-size: 12px;
}

.nextday{
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;

  width: 25px;
  height: 25px;

  text-align: center;
}

.locationcontainer{
	height: 50%;
}

.select{
  float: right;
  width: 160px;
  height: 25px;

  font-family: "Lucida Grande";
  color: #333333;
  font-size: 12px;
}


.hl{
  border-top: 1px solid #dddddd;
  height: 2px;
}


table {
    margin-top: 8px;
    height: 150px;
    width: 90%;

    margin-left: auto;
    margin-right: auto;

    font-size: small;
    font-family: "Lucida Grande";
    border-collapse: collapse;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #9ac6f0;
}
